include AUTHORS.md
include LICENSE
include README.md
include CMakeLists.txt

recursive-include xdrt/lib/nki_decompression *
recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst *.md conf.py Makefile make.bat *.jpg *.png *.gif
